<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Currency exchange rate</title>
</head>

<body>
    <h1>Update currency exchange rates</h1>

    <form method="post">
        <div class="form-group">
            <label for="date_from">date_from</label>
            <input type="text" name="date_from" placeholder="date_from" class="form-control"
                value="{{ request.form['date_from'] }}"></input>
        </div>

        <div class="form-group">
            <label for="date_to">date_to</label>
            <input type="text" name="date_to" placeholder="date_to" class="form-control"
                value="{{ request.form['date_to'] }}"></input>
        </div>
        <div class="form-group">
            <button type="Update" class="btn btn-primary">Update</button>
        </div>
    </form>

    {{ display_table|safe }}

</body>

</html>